.list_detail
  padding-left: 40px
  .author_info
    width: 120px
    display: flex
    justify-content: space-between
    .img_container
      width: 46px
    .right_side_contents
      .author_name
        text-align: right
      .stars
        display: flex
        justify-content: flex-end;
        .img_container
          width: 16px
  .box
    .progress_info
      margin: 48px 12px
      display: flex
      .progress_bar
        width: 600px
        height: 24px
        background-color: #E8E8E8
        .finished_progress
          width: 50%
          height: 24px
          background-color: #769CC9
      .percentage
        margin-left: 12px
        text-align: center
        font-size: 20px
        font-weight: bold
    .list_description
      width: 740px
      text-align: justify
    .finished_items
      margin: 48px 0px
  .unfinished_items_container
    margin-top: 24px
