//-
  client/components/banner.jade
  -


template(name='banner')
  
  .banner
    .search-area
      .search-title Follow the Steps
      .search-box
        i.fa.fa-search.fa-inverse
        input(type="search" placeholder="Search Todo Lists")
    .type-filter
      +types
