.header#header
  background-color: #3B3A36
  position: fixed
  height: 64px
  .container.header-inner
    .logo
      padding-top: 12px
      h1
        color: #E9ECE5
        text-align: center
    .header-icon
      padding-top: 20px
