//-
  client/components/ui/header.jade
  -

template(name='header')
  .header#header
    .container.header-inner
      .logo
        h1 Universe
      .side-menu-btn
        ul
          li
            a#new_list.search-over-menu-btn.header-icon New
              i.fa.fa-plus
          li
            a#filter_all.search-over-menu-btn.header-icon All
              i.fa.fa-globe
          li
            a#filter_owner.search-over-menu-btn.header-icon Owner
              i.fa.fa-archive
          li
            a.search-overlay-menu-btn.header-icon
              i.fa.fa-search
          li
            a#toggle_nav.header-icon
              i.fa.fa-bars
