/*
 *  client/components/searchbar.styl
 */


.searchbar
  position: relative

  span
    position: absolute
    top: 25%
    left: 10px

  input
    width: 100%
    height: 32px
    text-indent: 32px
