//-
  client/components/ui/search-overlay.jade
  -
  
  
template(name='search_overlay')
  
  .search_overlay
  
    .search-overlay-menu
    
      span.search-overlay-close
        i.fa.fa-times
      
      form.search-overlay
        input(name='text', type='search', placeholder='Search...')
        button
          i.fa.fa-search
