//-
  client/components/tags.jade
  UI component mainly sits on main page
  Mainly used with searchbar as an additional filter
  -


template(name='tags')

  .tags
  
    each factory
      button tag
