/*
 *  client/components/ui/types.styl
 */


.types
  text-align: center
  padding-top: 40px
  padding-bottom: 40px

.categories a
  font-size: 20px
  padding: 12px
  color: white

.categories a:hover
  color: #e6ad49
