//-
  client/components/types.jade
  UI component mainly sits on main page
  This is similar to tags, but its is used to define other property of a list
  Mainly used with searchbar as an additional filter
  
  Four types of lists:
    -> all
    -> owner
    -> followed
    -> starred
  -
  

template(name='types')

  .types
    .categories
      a(href='') all
      a owner
      a followed
      a starred
