/*
 *  client/components/item.styl
 */


.item

  .editable_display_item
    background: transparent
    border-bottom: 1px solid transparent
    border: 0
    color: rgba(0, 0, 0, .85)
    font-size: 120%
    height: 10px
    width: 65%

  .checked
    color: rgba(0, 0, 0, .65)
    text-decoration: line-through
