//-
  client/components/item.jade
  Item refers to every todo entry inside a list
  -


template(name='item')

  .item
    
    if checked
      input#content.editable_display_item.checked(type='text', value='#{content}', readonly='{{$not isOwner}}')
    else
      input#content.editable_display_item(type='text', value='#{content}', readonly='{{$not isOwner}}')
    .btn#check(disabled='{{$not isOwner}}')
      i.fa.fa-check
    .btn#delete(disabled='{{$not isOwner}}')
      i.fa.fa-times
