//-
  client/pages/application.jade
  This is the main page displaying todo lists as well as providing
  searching, tagging, as other main functionalities
  Lists and items will be seperate components defined inside ../components/...
  -


template(name='application')

  +searchbar
