//-
  client/pages/main.jade
  This is the main page displaying todo lists as well as providing
  searching, tagging, as other main functionalities
  Lists and items will be seperate components defined inside ../components/...
  -


template(name='main')

  .main

    hr
    +searchbar

    hr
    +types
    
    hr
    button#new_list Add new list
    hr
    
    //- h2 trending tags
    //- +tags
    
    .lists
    
      // Right now I will only put some fake data loops here for placeholder
      each lists
        // Bootstrap griding system
        .col-xs-12.col-sm-6.col-md-4
          //- p #{list.name}
          +list
      
      if loadmore
        p#loading Loading...
  
