/*
 *  client/pages/main.styl
 */



.main

  .lists

    .preview
      background: white
      box-shadow: 10px 10px 10px lightgrey
      margin: 30px
      transition: background-color .5s

    .preview:hover
      background-color: lightgrey
      transform: scale(1.1)
