/*
 *  client/pages/main.styl
 */

.main
  .lists
    .preview
      background-color: GhostWhite
      border-radius: 8px
      margin: 30px
      overflow: hidden
      transition: all .2s ease-in-out
      width: 280px
    .preview:hover
      transform: scale(1.05)
      box-shadow: 5px 5px 5px rgba(0, 0, 0, .35)
      .list
        z-index: -1
        transform: scale(1.1)
