//-
  client/pages/main.jade
  This is the main page displaying todo lists as well as providing
  searching, tagging, as other main functionalities
  Lists and items will be seperate components defined inside ../components/...
  -

template(name='main')
  .main
    //- button#new_list Add new list
    .lists
      each lists
        .preview
          +list_preview

  //-
    Modal toggle when list (preview) is clicked
    Reactive data depending on session
    -
  with selected_list
    .modal.fade#myModal(role='dialog')
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
          .modal-title
          .modal-body
            +list
          .modal-footer
