.user_page
  .left_side_menu
    background-color: #585650
    height: 100%
    left: 0
    padding-top: 24px
    position: fixed
    top: 64px
    width: 146px
    transition: width .5s
    overflow: hidden
    .home, .profile, .settings
      margin: 12px
      padding-left: 12px
      a h4
        color: #e9ede5
        transition: color .5s
      a h4:hover
        color: #e6ae49
        transition: color .5s
    .selected
      background-color: #838E8C
