template(name="finished_item")
  .finished_item
    .flex_container
      .left_content
        input(type="checkbox" checked)
        span The Walnut Room
      .image_container
        a
          img(src="/img/image-icon.png")
    hr
