.finished_item
  width: 740px
  .flex_container
    display: flex
    justify-content: space-between;
    .left_content
      span
        text-decoration: line-through
    .image_container
      width: 24px
