.list_preview_enlarged
  .preview_header
    background-color: #3b3a36
    display: flex
    justify-content: space-between
    height: 96px
    .list_title
      margin-top: auto
      margin-bottom: auto
      margin-left: 24px
      h4
        color: #FFF
    .right_side_contents
      display: flex
      flex-direction: row
      margin-top: auto
      margin-bottom: auto
      margin-right: 24px
      .followed, .star, .close_button
        margin-top: auto
        margin-bottom: auto
      .followed
        margin-right: 12px
        color: #FFF
      .star
        margin-right: 12px
        .img_container
          width: 24px
      .close_button
        margin-left: 12px
        #close_enlarged_preview
          color: #e9ede5
          transition: color .5s
        #close_enlarged_preview:hover
          color: #e6ae49
          transition: color .5s
  .list_description
    padding: 24px
    background-color: #E9EEE5
  .list_items
    overflow: scroll
    height: 400px
  .list_items > *
    margin: 24px auto
