template(name="list_preview_enlarged")
  .list_preview_enlarged
    .header
      .list_title
        h4 A Foodie's List to Chicago
      .right_side_contents
        .followed followed: 123,456
        .star
         .img_container
          img(src="/img/star-white.png")
        .start_button.btn.btn-md.btn-white-line Start List Now
        .close_button
          a#close_enlarged_preview
            i.fa.fa-times.fa-2x.fa-white
    .content_container
      .list_description
      .list_items
