template(name="list_preview_enlarged")
  .list_preview_enlarged
    .preview_header
      .list_title
        h4 A Foodie's List to Chicago
      .right_side_contents
        .followed followed: 123,456
        .star
         .img_container
          img(src="/img/star-white.png")
        .start_button.btn.btn-md.btn-white-line Start List Now
        .close_button
          a#close_enlarged_preview
            i.fa.fa-times.fa-2x.fa-white
    .list_description
      p
        | A comprehensive list to the best food in Chicago.
        | You’ll have to have been to all of the following
        | establishments to call yourself a true food lover in Chicago.
        | You might find this particularly challenging, given the sheer
        | number of items in this list. But don’t worry, take your time.
        | Even if you are not a Chicago local, take several trips to
        | finish the bucket list!.
    .list_items
      each listItems
        +unfinished_item
