/*
 *  client/components/layouts/application-layout.styl
 */


.application_layout

  .background
    background-image: url('img/bg.jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 100%
    position: fixed
    width: 100%

  .wrapper
    // background-color: rgba(0, 0, 0, .15)
    height: 100%
    margin: auto
    max-width: 1280px

  #main
    padding: 30px
    padding-top: 100px
    transition: margin-left .5s
