//-
  clients/layouts/application_layout.jade
  This is the main layout of our application, more like a frame or layout 
  definition of our main page, contents (pages) changes without effecting
  or refreshing the main layout
  -


template(name='application_layout')
  
  +sidenav
  
  #main
    button#toggle_nav
      i.fa.fa-bars
    span #{currentUser.profile.name}
    
    +yield
