/*
 *  client/components/list.styl
 */

.list
  padding: 15px
  padding-bottom: 100px
  transition: all .5s ease-in-out
  .editable_display_list
    background: transparent
    border-bottom: 1px solid #e6ae49
    border: 0
    color: rgba(0, 0, 0, .85)
    font-size: 150%
    font-variant: small-caps
    font-weight: bold
    width: 100%
  .indicator
    font-size: 150%
