//-
  client/components/item-edit.jade
  This component is used for editing individual items inside a list
  -


template(name='item_edit')

  .item_edit
  
    input(type='checkbox')
    input(type='text')
    button#item_edit_delete x
    
