//-
  client/components/item.jade
  Item refers to every todo entry inside a list
  -


template(name='item')

  .item
  
    input#check(type='checkbox')
    input#content(type='text', value='#{content}')
    button#delete Delete
