//-
  client/components/list.jade
  List refers to a basic unit, which is a todo list
  -

  
template(name='list')
  
  .list
  
    // Right now I will only put some fake data loops here for placeholder
    h2 I am a todo list
    each factory
        +item
    p star: 10 follower: 32
