.unfinished_item
  width: 740px
  margin-bottom: 24px
  .flex_container
    display: flex
    justify-content: space-between
    .item_checkbox
      margin-right: 8px
    .item_container
      background-color: #D4E8FF
      padding: 4px
      .title_row
        display: flex
        justify-content: space-between
        .icons
          display: inherit
          .img_container
            width: 24px
            margin-right: 8px
      .item_description
        margin-top: 12px
