template(name="unfinished_item")
  .unfinished_item
    .flex_container
      .item_checkbox
        input(type="checkbox")
      .item_container
        .title_row
          .item_title Green Door Tavern
          .icons
            .img_container
              a
                img(src="/img/camera-icon.png")
            span 10%
        hr
        .item_description
          p Located at the heart of Chicago loop, Green Door Tavern is a fine tuned combination of the old school beer tavern flavor and a touch of the modern night life style. It’s exquisitely made dishes and winery, served with local jazz band just a few feet away.
