template(name="list_preview_progress")
  .list_preview_progress
    .progress_info
      .percentage=randomPercentage
    .img_container
      if randomImg
        img(src="/img/steak.jpg" class="preview_img")
      else
        img(src="/img/yoga.jpg" class="preview_img")
    .list_info
      .flex_container
        .list_info_text
          .list_title
            h4 List Title
          .list_short_desc
            p Short description of the list contents that is really short
        .author_img_container
          a(href="")
            img(src="/img/George Clooney.png" class="author_img")
